header {
    background-color: var(--blue-dark);
    color: #fff;
}

.logo img {
    height: auto;
    width: 100%;
}

.icon {
    color: var(--white);
}

.formPerquisa {
    background-color: var(--white);
    border-radius: 10px;
}

.formPerquisa {
    border: solid 3px;
}

.formPerquisa select,
.formPerquisa input,
.formPerquisa button {
    height: 40px;
    border: none;
    outline: none;
}

.formPerquisa select {
    background-color: #dadada;
    padding-left: 10px;
    width: 35%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.formPerquisa input {
    width: 48%;
}

.formPerquisa button {
    padding: 0 10px;
    width: 15%;
    float: right;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

@media (max-width:760px) {
    .formPerquisa select {
        display: none;
    }

    .formPerquisa input {
        width: 85%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        padding-left: 10px;
    }
}