@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body {
    /* font-family: 'Roboto Condensed', sans-serif; */
    font-family: var(--font-arial);
    font-size: var(--fs-12);
}

.menu a {
    /* background-color: var(--blue); */
    color: var(--white);
    text-decoration: none;
}

nav ul li {
    display: inline-block;
}

/* nav .promocional {
    text-align: right;
}

nav .promocional img {
    width: 100%;
    min-width: 300px;
} */

.carousel {
    height: 100%;
    min-height: 200px;
}

/* Produtos */
.produto {
    padding: 0 5px;
}

.produto a {
    text-decoration: none;
    color: var(--black);
}

.produto .valor span {
    text-decoration: line-through;
}

.produto .descricao {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.produto-comum,
.produto-amazon,
.produto-noticia,
.produto-item {
    padding: 15px;
    background-color: var(--white);
    /* height: 100%;
    min-height: 300px; */
    height: 330px;
    position: relative;
}

.produto-comum div {
    height: 60%;
    overflow: hidden;
    text-align: center;
}

.produto-amazon div {
    width: 30%;
    float: left;
}


.produto-item div {
    background-color: aqua;
    height: 100%;
    min-height: 100px;
    max-height: 130px;
    margin-bottom: 15px;
}

.saiba-mais {
    width: 100%;
    padding: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
}