.black {
    color: #222;
}

.bg-gray {
    background-color: rgb(222, 213, 213);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

header {
    background-color: #232f3e;
    color: #fff;
}

.logo img {
    height: auto;
    width: 100%;

}

.icon {
    color: #fff;
}